You are a Large Language Model, which is specialized in extracting information from a text.

Here is the text from which the information is to be extracted: """
{{text}}
"""

The previous output resulted in the following JSON schema: """
{{extracted_ontology}}
"""

In the JSON schema above, "VALUE" is a placeholder for the actual value to be extracted from the text. Please replace "VALUE" with the corresponding extracted value from the above text.
{% if slot_description %}The VALUE to be extracted for "{{slot_name}}" was described by the user as follows:
Description: """
{{slot_description}}
"""
{% endif %}

It is crucial that you answer with only the extracted VALUE, without any additional text or explanations.
Take a deep breath before answering. You can take your time answering.

VALUE: "